<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/style.css"/>
		<link rel="icon" href="./favicon.ico">
		<meta property="og:url" content="http://hack.gt"/>
		<meta property="og:title" content="HackGT 4"/>
		<meta property="og:description" content="Georgia Tech's fourth annual hackathon!" />
		<meta property="og:image" content="http://hack.gt/images/meta-image.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js"></script>
		<script src="js/lib/particles.js"></script>
		<!--Have to update the url and image when we deploy-->
		<title>HackGT 4</title>
	</head>
	<body>
		<div class="main-page">
			<div id="stars"></div>
			<script src="js/sky.js"></script>
			<div class="content">
				<img id="logo" src="./images/logo.png" alt="">
				<div id="glitch-header">
					<h1 class="glitch" data-text="HackGT">HackGT</h1>
				</div>
				<div id="event-info">
					<h2>October 13-15, 2017</h2>
					<h3>Georgia Tech</h3>
					<h3>Stay tuned for more details!</h3>

					<form id="preregister">
						<input type="email" name="email" placeholder="email" required>
						<input type="text" name="school" placeholder="school" required>
						<input type="submit" name="submit" value="TUNE IN" class="glitch" data-text="TUNE IN">
					</form>
				</div>
				<a class="glitch sponsor-btn" data-text="SPONSOR" href="assets/HackGTSponsorship2017.pdf">SPONSOR</a>
			</div>
			<footer>Made with love by the HackGTeam</footer>
		</div>
		<div id="social-bar">
			<a href="https://twitter.com/thehackgt" class="social-link">
				<img src="./images/twitter.png" class="social-glyphs"/>
			</a>

			<a href="https://www.facebook.com/HackGT/" class="social-link">
				<img src="./images/facebook.png" class="social-glyphs"/>
			</a>

			<a href="https://www.youtube.com/user/OfficialHackGT" class="social-link">
				<img src="./images/youtube.png" class="social-glyphs"/>
			</a>

			<a href="https://www.instagram.com/thehackgt/" class="social-link">
				<img src="./images/instagram.png" class="social-glyphs"/>
			</a>
		</div>
		<script src="js/lib/awesomplete.min.js"></script>
		<script src="js/main.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', '<%= google_analytics %>', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
